.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .all {
  display: flex;
  align-items: end;
  justify-content: center;
  display: flex;
  width: 550px;
  height: 590px;
  flex-direction: column;
  gap: 35px;
}
.container .write {
  width: 540px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container span {
  font-size: 16px;
  color: #FF5600;
}
.container strong {
  font-size: 49px;
  color: #222222;
}
.container p {
  font-size: 16px;
  color: #222222;
}
.container img {
  width: 510px;
  height: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .four {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 20px;
}
.container .four .iconp {
  font-size: 12px;
}

.container2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.container2 .all2 {
  display: flex;
  align-items: start;
  justify-content: center;
  display: flex;
  width: 550px;
  height: 590px;
  flex-direction: column;
  gap: 10px;
}
.container2 .all2 button {
  border: 1px solid #ff5600;
  cursor: pointer;
  width: 180px;
  height: 62px;
  border-radius: 7px;
  color: gray;
  font-size: 14px;
  background-color: white;
}
.container2 .write2 {
  width: 510px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container2 span {
  font-size: 16px;
  color: #FF5600;
}
.container2 strong {
  font-size: 49px;
  color: #222222;
}
.container2 p {
  font-size: 16px;
  color: #222222;
}
.container2 img {
  width: 510px;
  height: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 .four2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 20px;
}
.container2 .four2 .information {
  font-size: 12px;
}